@charset "UTF-8";


.background {
	background: url("../img/index.png") ;
    background-position: top center;
}

.userInput {
	position: relative;
 	background: transparent;
 	border: 2px solid white;
 	border-radius: 20px;
 	backdrop-filter: blur(5px);
 	display:flex;
 	justify-content:center;
 	align-items:center;
 	
}